.button {
  .flex();
  .layout(center; center);
  .padding-vertical(10px; 10px);
  .Oswald-Regular();
  .typography(16px; 20px);
  .uppercase();
  max-width: 280px;
  margin: auto;
  color: @white;
  background-color: @basic-brigth;
  border: none;
}
