.catalog-additional__caption {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: @black;
}

.catalog-additional__list {
  .list-reset();
}

.product-additional__tare,
.product-additional__price {
  line-height: 14px;
}
