.catalog-additional__caption {
  .heading-reset();
  .Oswald();
  .typography(24px; 24px);
  .padding-horizontal(20px; 20px);
  width: min-content;
  color: @black;
  background-color: @white;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    .typography(36px; 36px);
    .padding-horizontal(40px; 40px);
    margin-top: 0;
    margin-left: 30px;
   }

   @media (min-width: @tablet-width) {
    .typography(36px; 36px);
    margin-top: 0;
    margin-left: 70px;
   }
}

// .catalog-additional__grid {

//   // @media (min-width: @desktop-width) {
//   //   .grid(896px 245px);
//   //   column-gap: 80px;
//   //   justify-content: center;
//   // }
// }

.catalog-additional__list {
  .list-reset();
  .padding-vertical(35px; 35px);

  @media (min-width: @tablet-width) {
    .padding-vertical(80px; 70px);
  }

  @media (min-width: @desktop-width) {
    .padding-vertical(76px; 91px);
    .padding-horizontal(0; 0)
  }
}

.catalog-additional__gift {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
  }

  // @media (min-width: @desktop-width) {
  //   top: 76px;
  //   padding: 0;
  //   margin: 0;
  // }
}
