.catalog-additional {
  position: relative;

  &::before {
    .before-after(100%; 2px);
    .position-absolute(15px);
    z-index: -1;
    background-color: @basic-brigth;

    @media (min-width: @tablet-width) {
      top: 23px;
     }
  }
}

.catalog-additional__caption {
  .heading-reset();
  .Oswald();
  .typography(24px; 24px);
  .padding-horizontal(20px; 20px);
  width: min-content;
  margin-top: 25px;
  margin-left: -20px;
  color: @black;
  background-color: @white;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    .typography(36px; 36px);
    .padding-horizontal(40px; 40px);
    margin-top: 0;
    margin-left: 0;
   }

   @media (min-width: @desktop-width) {
    margin-left: -40px;
   }
}

.catalog-additional__flex {

  @media (min-width: @desktop-width) {
    display: flex;
    column-gap: 80px;
  }
}

.catalog-additional__list {
  .list-reset();
  .padding-vertical(35px; 35px);

  @media (min-width: @tablet-width) {
    .padding-vertical(80px; 70px);
  }

  @media (min-width: @desktop-width) {
    .padding-vertical(80px; 91px);
    .padding-horizontal(0; 0)
  }
}

.catalog-additional__gift {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 80px;
  }
}
