.catalog-main__list {
  .list-reset();
  .flex();
  justify-content: center;
  column-gap: 30px;

  @media (min-width: @tablet-width) {
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    gap: 65px 80px;
  }
}
