.catalog__title {
  .heading-reset();
  .Oswald();
  .typography(36px; 36px);
  color: @black;
  text-transform: none;
  margin-top: 25px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    .typography(60px; 60px);
    margin-top: 36px;
    margin-bottom: 84px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 32px;
  }
}

@media (max-width: (@tablet-width - 1)) {
  .catalog__title {
    position: relative;
  }

  .catalog__title::after {
    .before-after(100vw; 1px);
    .position-absolute(75px);
    background-color: @basic-background-300;
    left: -20px;
  }
}
