.contacts {
  position: relative;
}
.contacts__text {
  .padding-vertical(26px; 26px);
  .padding-horizontal--base();

  @media (min-width: @tablet-width) {
    .padding-horizontal(70px; 70px);
  }

  @media (min-width: @desktop-width) {
    .padding-horizontal(80px; 80px);
    .position-absolute(95px);
    left: 110px;
    width: 565px;
    background-color: @white;
  }
}

.contacts__text--main {
  background-color: @white;
}

.contacts__intro {
  .Oswald();
  .typography(16px; 20px);
  .uppercase();
  color: @special-dark-100;
}

.contacts__adress {
  line-height: 20px;
}

.contacts__map-iframe {
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  min-height: 362px;
  width: 100%;
  border: none;
}

