.contacts {
  position: relative;
}
.contacts__text {
  .padding-vertical(26px; 26px);
  .padding-horizontal(20px; 20px);
  .flex();
  .layout(space-between; center);

  @media (min-width: @tablet-width) {
    .padding-vertical(60px; 60px);
    .padding-horizontal(70px; 70px);
  }

  @media (min-width: @desktop-width) {
    .padding-horizontal(80px; 80px);
    .position-absolute(95px);
    left: 110px;
    width: 565px;
    background-color: @white;
  }
}

.contacts__text--main {
  background-color: @white;
}

.contacts__intro {
  .Oswald();
  .typography(16px; 20px);
  .uppercase();
  margin: 0;
  color: @special-dark-100;
  width: min-content;

  @media (min-width: @tablet-width) {
    .typography(20px; 26px);
  }
}

.contacts__address {
  margin: 0;
  line-height: 20px;
  font-style: normal;
  width: min-content;

  @media (min-width: @tablet-width) {
    text-align: right;
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.contacts__address-city {
  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 20px;
  }
}

.contacts__map-iframe {
  display: block;
  min-height: 362px;
  width: 100%;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  border: none;

  @media (min-width: @tablet-width) {
    min-height: 400px;
  }
}

