.example {
  .padding-vertical(25px; 40px);
  background-color: @basic-background-200;

  @media (min-width: @tablet-width) {
    .padding-vertical(45px; 101px);
    .typography(16px; 24px);
    border-top: 1px solid @basic-background-300;
    box-shadow: 0 618px 0 0 @white inset;
  }

  @media (min-width: @desktop-width) {
    .padding-vertical(0; 0);
    border-top: none;
    background-color: @basic-background-100;
    box-shadow: 0 138px 0 0 @white inset;
  }
}

.example__grid {
  max-width: 724px;

  @media (min-width: @desktop-width) {
    .grid(1fr 1fr);
    column-gap: 80px;
    max-width: 100%;
  }
}

.example__title {
  .Oswald();
  .typography(36px; 40px);
  .heading-reset();
  color: @black;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    .typography(60px; 60px);
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  @media (min-width: @desktop-width) {
    margin-top: 0;
    max-width: 440px;
  }
}

.example__list {
  .flex();
  justify-content: center;
  gap: 36px 32px;
  margin-top: 18px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
    margin-bottom: 105px;
    gap: 43px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 75px;
    justify-content: flex-start;
  }
}

.example__data {
  .flex();
  flex-direction: column-reverse;
  row-gap: 8px;
  width: 124px;
  .padding-vertical(14px; 17px);
  .padding-horizontal(10px; 10px);
  border: 1px solid @special-300;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 162px;
    row-gap: 11px;
  }

  @media (min-width: @desktop-width) {
    row-gap: 10px;
  }
}

.example__data-cost {
  .flex();
  .Oswald();
  .typography(14px; 20px);
  .uppercase();
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0;
  color: @black;

  @media (min-width: @tablet-width) {
    width: 250px;
    margin-left: auto;
    padding-top: 11px;
    justify-content: flex-end;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-top: 18px;
    justify-content: flex-start;
  }
}

.example__term {
  .typography(12px; 12px);
  .padding-horizontal(12px; 12px);
  margin: 0 auto -32px;
  text-transform: lowercase;
  text-align: center;
  background-color: @basic-background-200;

  @media (min-width: @tablet-width) {
    .padding-horizontal(5px; 5px);
    margin-bottom: -24px;
    .typography(14px; 14px);
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    .padding-horizontal(7px; 7px);
    background-color: @basic-background-100;
  }
}

.example__definition {
  .Oswald();
  .typography(24px; 24px);
  .uppercase();
  margin: 0 auto;
  color: @black;

  @media (min-width: @tablet-width) {
    .typography(30px; 37px);
  }
}

.example__definition-cost {
  margin-left: 0;

  @media (min-width: @desktop-width) {
    margin-left: 62px;
  }
}

.example__slider {
  @media (min-width: @desktop-width) {
    grid-column: 2;
    grid-row: 1 / 4;
  }
}
