.example {
  background-color: @basic-background-200;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin-top: 0;
  margin-bottom: 40px;
}

.example__term {
  font-size: 12px;
}

.example__definition {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: @black;
  text-transform: uppercase;
}

.example__term--cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
}

.example__definition--cost {
  font-size: 14px;
  line-height: 20px;
}
