.form__legend {
  font-size: 24px;
  line-height: 26px;
  color: @black;
  text-transform: none;
}

.form__input,
.form__input::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

.form__input--textarea {
  resize: vertical;
  width: 100%;
}
