.form-main {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.form-main__title {
  font-size: 36px;
  line-height: 36px;
  color: @black;
  text-transform: none;
}

.form-main__intro {
  color: @black;
}

.form-main__note {
  font-family: "Lato", sans-serif;
  line-height: 16px;
  text-transform: none;
}
