.form__fieldset {
  .flex();
  gap: 20px;
  flex-direction: column;
  margin: 20px;
}

.form__legend {
  .typography(24px; 26px);
  margin-bottom: 35px;
  color: @black;
  text-transform: none;
}

.form__input,
.form__input::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

.form__input--textarea {
  resize: vertical;
  width: 100%;
}

.form__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-left: 70px;
    margin-bottom: 60px;
  }
}
