.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__legend {
  @media (min-width: @tablet-width) {
    margin-left: -40px;
  }
}

.form__legend--contact {
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;

    br {
      display: none;
    }
  }
}

.form__legend--comment {
  @media (min-width: @tablet-width) {
    margin-bottom: 87px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 78px;
  }
}

.form__legend--additionally {
  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }
}

.form__label {
  .uppercase();
  position: relative;

  &:disabled {
    opacity: 0.3;
  }
}

.form__label-text {
  flex-shrink: 0;
  max-width: 50%;
}

.form__input {
  .padding-vertical(10px; 10px);
  .padding-horizontal(15px; 14px);
  .Oswald();
  .typography(16px; 18px);
  .uppercase();
  color: @special-dark-200;
  text-transform: inherit;
  cursor: pointer;
  border: none;
  outline: 1px solid @special-400;

  @media (min-width: @tablet-width) {
    .typography(20px; 20px);
    .padding-horizontal(20px; 20px);
  }

  &::placeholder {
    .uppercase();
    color: @special-dark-200;
  }

  &:hover {
    outline-color: @special-300;
  }

  &:focus {
    outline-color: @special-dark-200;
    outline-width: 2px;
  }

  &:invalid:not(:placeholder-shown) {
    outline-color: @status-error;
    outline-width: 2px;

    &:hover,
    &:focus {
      outline-color: @status-error;
    }
  }

  .form__input--invalid {
    outline-color: @status-error;

    &:hover,
    &:focus {
      outline-color: @status-error;
    }
  }
}

.form__input--text {
  width: 100%;
}

.form__input-img {
  .position-absolute(14px);
  right: 12px;
  color: @black;

  @media (min-width: @tablet-width) {
    top: 15px;
    right: 14px;
  }
}

.form__input:focus + .form__input-img {
  color: @basic-brigth;
}

.form__input:invalid:not(:placeholder-shown) + .form__input-img {
  color: @status-error;
}

.form__input--invalid + .form__input-img {
  color: @status-error;
}

.form__input--textarea {
  resize: vertical;
  width: 100%;
  min-height: 148px;
  margin-top: 5px;
  padding-top: 14px;

  @media (min-width: @tablet-width) {
    min-height: 172px;
  }
}

.form__button {
  width: 100%;

  @media (min-width: @desktop-width) {
    max-width: 570px;
  }
}
