.logo {
  display: block;

  &:hover,
  &:focus {
    opacity: 0.8;
    outline: transparent;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo--disabled {
  pointer-events: none;
}

.logo__img {
  display: block;
}
