.main-nav__toggle {
  @media (min-width: @tablet-width) {
    .hide();
  }
}

.main-nav__list {
  .list-reset();
  .flex();
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    gap: 33px;
  }
}

.main-nav__link {
  .Oswald-Regular();
  .typography(20px; 20px);
  .uppercase();
  .padding-vertical(22px; 24px);
  .padding-horizontal--base();
  color: @black;

  @media (min-width: @tablet-width) {
    .padding-horizontal(0; 0);
  }
}
