.main-header {
  @media (min-width: @desktop-width) {
    position: relative;
    z-index: 1;
  }
}

.main-header__flex {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    column-gap: 33px;
    align-items: center;
  }
}

.main-header__logo {
  .padding-vertical(13px; 14px);
  position: relative;
  min-height: 38px;

  @media (min-width: @tablet-width) {
    .padding-vertical(25px; 25px);
    min-height: 50px;
    align-self: flex-start;
  }

  @media (min-width: @desktop-width) {
    .padding-vertical(55px; 40px);
    min-height: 59px;
  }
}

@media (max-width: (@tablet-width - 1)){
  .main-header__logo::after {
    .before-after(100vw; 1px);
    .position-absolute(64px);
    background-color: @basic-background-300;
    left: -20px;
  }
}

.main-header__nav {

  @media (min-width: @tablet-width) {
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    .padding-vertical(55px; 29px);
  }
}
