.page-body {
  .Lato();
  .typography(14px; 18px);
  min-width: @phone-width;
  margin: 0;
  color: @special-dark-200;
  min-height: 100%;
}

.page-body__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}
