.products__card {
  width: 280px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 324px;
    margin-top: 78px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

@media (max-width: (@tablet-width - 1)) {
  .products__card::after {
    .before-after(320px; 1px);
    .position-absolute(auto);
    bottom: 0;
    background-color: @basic-background-350;
    left: -20px;
  }
}
