.program-form {
  @media (min-width: @tablet-width) {
  .grid(repeat(2, 1fr));
  }
}

.program-form__fieldset {
  @media (min-width: @tablet-width) {
    grid-column: span 2;
  }
}

.program-form__fieldset--additionally {
  @media (min-width: @tablet-width) {
    .grid(repeat(2, 1fr));
  }
  @media (min-width: @big-landscape-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.program-form__fieldset--basic,
.program-form__fieldset--purpose {
  @media (min-width: @big-landscape-width) {
    grid-column: span 1;
  }
}

.program-form__note {
  .Lato-Regular();
  line-height: 16px;
  text-transform: none;
  text-align: center;
}
