.program-form {
  .flex();
  flex-direction: column;
  row-gap: 24px;

  @media (min-width: @tablet-width) {
    row-gap: 65px;
  }
}

.program-form__fieldset {
  .flex();
  position: relative;
  flex-direction: column;
}

@media (max-width: (@tablet-width - 1)){
  .program-form__fieldset--basic::after,
  .program-form__fieldset--purpose::after {
    .before-after(100vw; 1px);
    .position-absolute(auto);
    background-color: @basic-background-400;
    left: -20px;
    bottom: -4px;
  }
}

.program-form__fieldset--contact,
.program-form__fieldset--comment,
.program-form__fieldset--additionally {

  &::before {
    .before-after(100vw; 2px);
    .position-absolute(16px);
    z-index: -1;
    background-color: @basic-brigth;

    @media (min-width: @tablet-width) {
      top: 21px;
    }
  }
}

.program-form__fieldset--basic {
  .padding-vertical(21px; 21px);
  gap: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
    gap: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.program-form__fieldset--purpose {
  .padding-vertical(25px; 16px);
  gap: 14px;
  margin-bottom: 5px;

  @media (min-width: @tablet-width) {
    .padding-vertical(22px; 27px);
    padding-left: 27px;
    margin-bottom: 0;
    gap: 13px;
    border: 1px solid @special-400;
  }
}

.program-form__contact-grid {
  display: grid;
  gap: 15px;

  @media (min-width: @tablet-width) {
    gap: 21px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program-form__additionally-grid {
  display: grid;
  gap: 13px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 32px 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.program-form__note {
  .Lato();
  .typography(14px; 16px);
  margin-top: 21px;
  margin-bottom: 32px;
  color: @black;
  text-transform: none;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 17px;
    margin-bottom: auto;
    font-size: 16px;
    text-align: left;
  }
}
