.slider {
  position: relative;
  overflow: hidden;
  width: 280px;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 560px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-left: 10px;
  }
}

.slider__img {
  width: 280px;
  height: 256px;
  display: block;
  object-fit: cover;
  object-position: right;
  background-color: @basic-background-200;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
    background-image: linear-gradient(@white 151px, @basic-background-200 151px);
    background-color: @basic-background-200;
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(@white 138px, @basic-background-100 138px);
  }
}

.slider__slide--after {
  .position-absolute(0);
  right: 0;
  overflow: hidden;
  z-index: 1;
  width: 50%;
  height: 100%;
}

.slider__toggle {
  .position-absolute(0);
  left: 137px;
  z-index: 2;
  width: 4px;
  height: 256px;
  padding: 0;
  cursor: ew-resize;
  color: @special-600;
  background-color: currentColor;
  border: 1px solid currentColor;
  border-radius: 2%;

  @media (min-width: @tablet-width) {
    left: 277px;
    height: 512px;
  }

  &:hover,
  &:focus {
    color: @basic-brigth;
    outline: transparent;
  }

  &:active {
    opacity: 0.6;
  }
}

.slider__toggle-img {
  .position-absolute(108px);
  left: -20px;

  @media (min-width: @tablet-width) {
    top: 235px;
  }
}
