include ./constans
include ../components/main-header/main-header
include ../components/programs/programs
include ../components/program/program
include ../components/main-footer/main-footer
include ../components/social/socialNetwork
