body {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Oswald-Medium.woff2") format("woff2");
  font-display: swap;
}
.page {
  height: 100%;
  overflow-wrap: break-word;
}
.page-body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  min-width: 320px;
  margin: 0;
  color: #444444;
  min-height: 100%;
}
.page-body__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}
.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding-right: 110px;
    padding-left: 110px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 280px;
  margin: auto;
  color: #ffffff;
  background-color: #68b738;
  border: none;
}
.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-header {
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding-top: 55px;
    padding-bottom: 29px;
  }
}
.main-header__logo {
  height: 38px;
}
@media (min-width: 768px) {
  .main-header__logo {
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo {
    height: 59px;
  }
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
    gap: 33px;
  }
}
.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 24px;
  padding-right: 20px;
  padding-left: 20px;
  color: #000000;
}
@media (min-width: 768px) {
  .main-nav__link {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .main-nav__link {
    padding-right: 110px;
    padding-left: 110px;
  }
}
@media (min-width: 768px) {
  .main-nav__link {
    padding-left: 0;
    padding-right: 0;
  }
}
.hero {
  font-family: "Oswald", sans-serif;
  padding-top: 27px;
  padding-bottom: 0;
  color: #ffffff;
  text-align: center;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background/hero.png");
  background-repeat: no-repeat;
  background-position: center top;
}
@media (min-width: 768px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 0;
    background-image: none;
    color: #000000;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .hero {
    padding-top: 0;
    padding-bottom: 52px;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background/hero-desktop.png");
    background-repeat: no-repeat;
    background-position: right center;
  }
}
.hero__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 60px;
    max-width: 720px;
  }
}
.hero__slogan {
  text-transform: uppercase;
  margin-bottom: 150px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .hero__slogan {
    margin-bottom: 20px;
  }
}
.hero__picture {
  background-size: contain;
}
@media (min-width: 1280px) {
  .hero__picture {
    grid-column: 2;
    grid-row: 1 / 4;
  }
}
.hero__img {
  display: block;
  margin: auto;
}
@media (min-width: 1280px) {
  .hero__img {
    margin-left: -100px;
  }
}
.programs {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .programs {
    padding-top: 0;
    padding-bottom: 37px;
  }
}
@media (min-width: 1280px) {
  .programs {
    padding-top: 82px;
    padding-bottom: 71px;
  }
}
.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 1280px) {
  .programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    justify-items: center;
  }
}
.programs__item {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 266px;
}
@media (min-width: 768px) {
  .programs__item {
    padding-left: 52px;
    padding-right: 52px;
    min-height: 372px;
  }
}
@media (min-width: 1280px) {
  .programs__item {
    display: flex;
    flex-wrap: wrap;
    max-width: 570px;
  }
}
@media (min-width: 1440px) {
  .programs__item {
    min-height: 374px;
    width: 570px;
  }
}
.programs__item:not(:last-of-type) {
  margin-bottom: 20px;
}
@media (min-width: 1280px) {
  .programs__item:not(:last-of-type) {
    margin-bottom: 0;
  }
}
.program {
  background-color: #f2f2f2;
}
.program__caption {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  color: #000000;
}
.program__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}
.features__title {
  margin: 0;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .features__list {
    padding-top: 32px;
    padding-bottom: 47px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 60px;
    min-height: 280px;
  }
}
@media (min-width: 1280px) {
  .features__list {
    padding-top: 32px;
    padding-bottom: 69px;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}
.features__item {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .features__item {
    max-width: 250px;
  }
}
.example {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .example {
    padding-right: 110px;
    padding-left: 110px;
  }
}
@media (min-width: 1280px) {
  .example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  font-weight: 400;
  color: #000000;
  margin-bottom: 40px;
}
.example__term {
  font-size: 12px;
}
.example__definition {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}
.example__term--cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
.example__definition--cost {
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 1280px) {
  .example__slider {
    grid-column: 2;
    grid-row: 1 / 4;
  }
}
.slider {
  text-align: center;
}
.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slider__slide--2 {
  display: none;
}
.main-footer {
  background-color: #f2f2f2;
}
.main-footer__links {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .main-footer__links {
    padding-top: 55px;
    padding-bottom: 55px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-footer__links {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}
.contacts__text {
  padding-top: 26px;
  padding-bottom: 26px;
}
.contacts__text--main {
  background-color: #ffffff;
}
.contacts__intro {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.contacts__adress {
  line-height: 20px;
}
.contacts__map-iframe {
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  min-height: 362px;
  width: 100%;
  border: none;
}
.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.copyright__link {
  color: inherit;
  line-height: 20px;
}
.form-main {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.form-main__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
}
.form-main__intro {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.form__fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  border: none;
}
.form__legend {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
  color: #000000;
  text-transform: none;
}
.form__input,
.form__input::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
.form__input--textarea {
  resize: vertical;
  width: 100%;
}
.form__button {
  width: 100%;
}
@media (min-width: 768px) {
  .form__button {
    margin-left: 70px;
    margin-bottom: 60px;
  }
}
.catalog__title {
  margin: 0;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
  margin-top: 27px;
  margin-bottom: 40px;
}
.catalog-main__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog-main__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    justify-items: center;
  }
}
@media (min-width: 1092px) {
  .catalog-main__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .catalog-main__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}
.product {
  padding-top: 20px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .product {
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f2f2f2;
  }
}
.product__link {
  color: #222222;
}
.product__title {
  margin: 0;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.product__title--more {
  color: #111111;
  position: relative;
}
.product__title--more::before {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -35px;
  right: 50%;
  background-image: url("../../img/products/plus.svg");
}
.product__table,
.product__text {
  font-size: 12px;
  line-height: 16px;
}
.product__button {
  width: 100%;
}
.product__button--more {
  color: #444444;
  background-color: #f2f2f2;
}
@media (min-width: 1280px) {
  .catalog-additional {
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 80px;
    justify-content: center;
  }
}
.catalog-additional__caption {
  margin: 0;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 25px 0 0 20px;
}
@media (min-width: 1280px) {
  .catalog-additional__caption {
    grid-column: 1 / 3;
  }
}
.catalog-additional__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (min-width: 1280px) {
  .catalog-additional__list {
    padding-top: 76px;
    padding-bottom: 91px;
    padding-left: 0;
    padding-right: 0;
  }
}
.catalog-additional__gift {
  margin-bottom: 35px;
}
@media (min-width: 1280px) {
  .catalog-additional__gift {
    top: 76px;
    padding: 0;
    margin: 0;
  }
}
.product-additional {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}
.product-additional:first-of-type {
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .product-additional {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}
.product-additional__title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 16px;
  color: #222222;
}
.gift {
  position: relative;
}
.gift__picture {
  position: relative;
  display: block;
}
.gift__picture::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  background-color: rgba(104, 183, 56, 0.85);
}
.gift__text {
  position: absolute;
  top: 187px;
  font-size: 16px;
  line-height: 20px;
  right: 81px;
  width: 161px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .gift__text {
    top: 71px;
    right: 155px;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .gift__text {
    top: 185px;
    left: 55px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .program-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .program-form__fieldset {
    grid-column: span 2;
  }
}
@media (min-width: 768px) {
  .program-form__fieldset--additionally {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1092px) {
  .program-form__fieldset--additionally {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1092px) {
  .program-form__fieldset--basic,
  .program-form__fieldset--purpose {
    grid-column: span 1;
  }
}
.program-form__note {
  font-family: "Lato", sans-serif;
  line-height: 16px;
  text-transform: none;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */
